{% extends 'main.html' %}

{% block content %}

    <style>
        .home-container {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }
    </style>
    <h1>Home Template</h1>
    <div class="home-container">

        <div>
            {% include 'chatTWS/topics_component.html' %}
        </div>

        <div>
            <h5>{{ room_count }} Rooms available</h5>
            <a href="{% url 'create-room' %}">Create Room</a>

            {% include 'chatTWS/feed_component.html' %}
        </div>

        <div>
            {% include 'chatTWS/activity_component.html' %}
        </div>

    </div>
{% endblock %}